@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url(./set.css);

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

link[rel="icon"] {
  border-radius: 50%;
  overflow: hidden;
  width: 32px; /* Adjust the size as needed */
  height: 32px; /* Adjust the size as needed */
}

/*************************************** NAVBAR ******************************************/

nav,
.nav-list {
  display: flex;
}

nav {
  padding: 15px;
  justify-content: space-between;
  display: flex;
  align-items: first baseline;
  height: 17vh;
}

nav .menu-deroulant:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1vh;
  text-decoration-color: rgb(181, 181, 181);
}

.nav-list {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#home li{
  list-style: none;
}

#home {
  margin-top: 5%;
}

.navbar > ul > li > a {
  transform: translate(-50%, -50%);
}

.menu-deroulant {
  position: relative;
}

.sous {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sous li {
  list-style: none;
  margin: 1vh 0 0 0;
}

@keyframes apparitionSousMenu {
  0% {
  }
  30% {
  }
  100% {
      max-height: 50em;
  }
}

.menu-deroulant:hover > .sous {
  animation: apparitionSousMenu 1s forwards;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sous a:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/*************************************** PRESENTATION ******************************************/


.image-container {
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.rounded-image {
  border-radius: 50%;
  margin: auto;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  background-color: rgb(84, 75, 75);
  color: white;
  overflow: hidden;
  border-radius: 10px;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: auto; 
  text-align: center;
}

.overlay-text p {
  padding: 5px;
  font-size: 1.1rem;
  margin: 0;
  text-align: start;
  color: white;
}

.image-container:hover .overlay-text,
.image-container:focus .overlay-text {
    max-height: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pres {
  text-align: start;
  margin: 0 0 0 10vh;
  padding: 0;
}

#test{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

#projects h1{
  font-size: 2.5em;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0 0 15vh 0;
}

.text h1{
  font-size: 2.5em;
  font-family: 'Arial', sans-serif;
  margin: 0 0 1vh 0;
  text-align: center;
  color: rgb(85, 85, 85);
}

h1{
  font-size: 3em;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.pres p {
  color: rgb(85, 85, 85);
  font-size: 1.75rem;
  font-family: 'Arial', sans-serif;
}


/*************************************** EXPERIENCE ******************************************/


section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

#experience {
  position: relative;
  margin-top: 18%;
}

#experience h1{
  font-size: 3em;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0 0 1vh 0;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.icon {
  cursor: pointer;
  height: 2rem;
}


/*************************************** PROJETS ******************************************/


#projects {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.color-container1 {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 0 15vh 0 15vh;
}

.project-img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}


/*************************************** BUTTON ******************************************/


.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
  

/*************************************** STAGE ******************************************/


#stage {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}


/*************************************** SLIDER ******************************************/

.slider {
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 5px;
}

.slider:before, .slider:after {
  content: 'тек';
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background: dodgerblue;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.slider:after {
  content: 'тен';
  left: auto;
  right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
.slider input {
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  z-index: 1;
}

.slider input:focus {
  outline: none;
}

.slider input:after {
  content: attr(title);
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.slider input:not(checked):before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  left: calc(-100% + 1rem);
}

.slider input:checked:before {
  display: none;
  left: 1rem;
}

.slider input:checked {
  transform: translateX(0);
  pointer-event: none;
  z-index: 0;
  box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

.slider input:checked + input:before {
  left: -3rem;
}

.slider input:checked + input ~ input:before {
  display: none;
}

/*************************************** PIED DE PAGE ******************************************/

.footer-col{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5%;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: white;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
      width: 100%;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer p {
  margin: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: blue;
}

.back-to-top i {
color: blue;
}


/*************************************** SOCIAL NAV******************************************/


.socials {
  position: fixed;
  top: 100px;
}
.socials .sociale {
  padding: 0px;
  transform: translate(-270px, 0);
}

.socials .sociale .sociali {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.socials .sociale .sociali:hover {
  transform: translate(100px, 0);
}
.socials .sociale .sociali:hover a {
  color: #000;
}
.socials .sociale .sociali:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.socials .sociale .sociali i {
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  transform: rotate(0deg);
}

