body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  padding: 0;
}

/* DESKTOP NAV */

nav,
.nav-list {
display: flex;
}

nav {
justify-content: space-around;
display: flex;
align-items: first baseline;
height: 17vh;
}

.nav-list {
gap: 2rem;
list-style: none;
font-size: 1.5rem;
}

a {
color: black;
text-decoration: none;
text-decoration-color: white;
}

.logo {
font-size: 2rem;
}

.logo:hover {
cursor: default;
}

#home li{
  list-style: none;
}

.navbar > ul > li > a {
  transform: translate(-50%, -50%);
}

.menu-deroulant {
  position: relative;
}

.sous {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sous li {
  list-style: none;
  margin: 1vh 0 0 0;
}

@keyframes apparitionSousMenu {
  0% {
  }
  30% {
  }
  100% {
    max-height: 50em;
  }
}

.menu-deroulant:hover > .sous {
  animation: apparitionSousMenu 1s forwards;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sous a:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
